<% content_for :sidebar_left do %>
<ul id="sidebar-items">
  <li>
    <form id="search" action="http://www.google.com/search" method="get">
      <input type="text" id="search-text" name="q" value="" />
      <input type="submit" value="Search" />
    </form>
  </li>      
  <li>
    <h3>Ideas</h3>
    <ul class="links">
      <li><a href="<%= new_idea_path %>">New</a></li>
      <li><a href="http://weblog.rubyonrails.org/">Official weblog</a></li>
      <li><a href="http://wiki.rubyonrails.org/">Wiki</a></li>
    </ul>
  </li>        
  <li>
    <h3>Categories</h3>
    <ul class="links">
      <li><a href="http://api.rubyonrails.org/">Rails API</a></li>
      <li><a href="http://stdlib.rubyonrails.org/">Ruby standard library</a></li>
      <li><a href="http://corelib.rubyonrails.org/">Ruby core</a></li>
      <li><a href="http://guides.rubyonrails.org/">Rails Guides</a></li>
    </ul>
  </li>
</ul>
<% end %>
<h2>New idea</h2>

<% form_for(@idea) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', ideas_path %>