<%= render 'side_menu'%>

<h2>Ideas</h2>
<p>Searching for <%= params[:q] %> ...</p>
<% if @ideas.empty? %>
	<p class="italic">No ideas?!</p>
<% else %>
<ul id="ideas">
	<% @ideas.each do |idea| %>
		<li>
			<span><%= link_to h(idea.name), idea %></span>
		</li>
	<% end %>
</ul>
<% end %>