* {
	margin: 0px;
	padding: 0px;
}
body {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-color: #ffffff;
  font-family: Tahoma;
  font-size: 13px;
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
	color: #000000;
	font-family: "Arno Pro","Baskerville",Times,serif;
	letter-spacing: -0.5px;
	font-style: italic;
}
h1 {
  font-size: 28px;
}
a  {
	color: #3377DD;
	text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input {
	margin-bottom: 5px;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.fancy {
	font-family: Georgia, Times, serif;
}
.hint {
	font-size: 11px;
	color: #F38989;
}
#page {
  background-color: #ffffff;
	margin-left: 15%;
	margin-right: 15%;
	overflow: hidden;
}
#header {
	border-bottom: 1px solid #808080;
	padding: 5px;
	padding-bottom: 0px;
	overflow: hidden;
}
#header h1 {
	display: inline;
	float: left;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#header h1 a {
	color: #000000;
	text-decoration: none;
}
#header h1 a:hover {
	text-decoration: none;	
}
#header #user_menu {
	padding: 5px 0px 0px 0px;
	float: right;
	display: inline;
	vertical-align: bottom;
}
#header #user_menu a {
	font-size: 12px;
}
#middle {
	overflow: hidden;
	margin: 10px 0px;
}
#content {
	margin: 0px 0px 0px 15px;
  float: left;
  border-top: none;
  padding: 5px;
  width: 80%;
	padding-top: 0px;
}
#sidebar {
	float: left;  
	width: 13%;
	padding: 0px 5px;
}
#search {
  margin: 0;
  font-size: 11px;
}
#search input {
  font-size: 11px;
  margin: 2px 0px;
}
#search #search-text {
	width: 100%;
}
#search form {
	background-color: yellow;
	margin: 0px;
	padding: 0px;
}
#sidebar.left {
	text-align: right;
	padding-right: 10px;
}
#sidebar ul {
	margin: 0px;
}
#sidebar ul h3 {
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}
#sidebar li {
  list-style-type: none;
	margin-bottom: 10px;
}
#sidebar ul.links li {
	font-size: 11px;
  margin-bottom: 5px;
}
#notice {
	background: #C8F5C3 url('../images/accept.png') no-repeat 5px;
	border: 1px dashed #33CB21;
}
#error {
	background: #F9C0BF url('../images/cancel.png') no-repeat 5px;
	border: 1px dashed #D91813;
}
#notice, #error {
	padding: 5px 25px;
}
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
#footer {
	clear: both;
	border-top: 1px solid #808080;
	text-align: center;
	font-size: 10px;
	padding: 5px;
}
#footer a {
	color: #F38989;
}



