<% content_for :sidebar_left do %>
<ul id="sidebar-items">
  <li>
    <h3>Announcements</h3>
    <ul class="links">
      <li>Now with search support!</li>
      <li><a href="<%= feedback_path %>">Feature Requests?</a></li>
    </ul>
  </li>        
</ul>
<% end %>
<h2>Forgot Password</h2>
<p>Please enter your email address and a temporary password will be sent to that account</p>
<% form_tag forgot_password_path do -%>
<p>
	<%= label_tag 'email' %><br />
	<%= text_field_tag 'email', @email %>
	<%= submit_tag 'Submit' %>
</p>
<% end -%>
