%h2 About Idealogue
%p
	Idealogue is designed to make organizing and sharing ideas a breeze. We believe that making ideas accessible from anywhere will make it easier to turn these ideas into reality.
%p{:style => 'margin-top: 10px;'}
	%span.bold
		Have an idea to make idealogue even better?
	Please 
	= link_to 'let us know', feedback_path, :class => 'italic'