<h2>About Idealogue</h2>
<p>Idealogue is designed to make organizing and sharing ideas a breeze. We believe that making ideas accessible from anywhere will make it easier to turn these ideas into reality.</p>
<p style="margin-top: 10px;"><span class="bold">Have an idea to make idealogue even better?</span> Please <a class="italic" href="<%= feedback_path %>">let us know</a>