<h2>Send Feedback</h2>
<p>Your feedback is very important to us! What features would you like to see? What's the best part of idealogue? The worst? Please feel free to send questions, comments, and feature requests to: 
</p>
<a href="mailto:idealogue@varietyour.com?subject=Idealogue Feedback">idealogue@varietyour.com</a>
<p>Thanks!</p>
<p>-- the idealogue team</p>